body{
    margin: 0;
    padding: 0;
}

#content::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    background-image: url('photo.webp');
    filter: grayscale(100%);
    background-position: center;
    background-size: cover;
}

#content{
    height: 100vh;
}

.content-inside{
    position: relative;
    height: 100%;
}
nav{
    position: relative;
    top:0;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: grey;
    opacity: .7;
    display: flex;
    align-items: center;
}

nav>#menu{
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.menu-items{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#container{
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
    text-transform: uppercase;
    background-color: rgba(0,255,255,.8);
    margin: 0;
}