body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url('snow_mountain_-Nature_landscape_wallpaper_1680x1050.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#352563;
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}


a{
    padding: 10px;
    width: 200px;

    align-self: center;

    color: #352563;
    text-decoration: none;

    border: 1px solid #352563;
    border-radius: 5px;    
}

